# Byte-compiled files
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/
.env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packages
*.egg-info/
dist/
build/

# Logs and databases
*.log
*.db
*.sqlite

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env.local
.env.*.local

# Testing
.pytest_cache/
.coverage
htmlcov/
test.py
test/

#Project Based
model/
*.bak
models.json
*.dist/
project_structure.txt
